body{
  margin: 0;
  background-color:#e1e1e1;
  -webkit-box-sizing:border-box;
  -moz-box-size:border-box;
  box-sizing: border-box;
font-family: "Microsoft Yahei","微软雅黑", 'STXihei', "华文细黑", sans-serif;


}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}

ul{
  padding: 0;
  margin: 0;
}

li{
  list-style: none;
}

.container{
  width: 100%;
}

/*HEADER*/

header{
  max-width: 100%;
  background: #fff;

}

header a {
  color: #000;
  text-decoration: none;
}

header nav{
  max-width: 64em;
  height: 8em;
  margin: 0 auto;
  position: relative;
}

nav h1{
  position: absolute;
  bottom: 50px;
  left: 0;
}

nav ul {
  position: absolute;
  bottom: 50px;
  right: 0;
}

nav li {
  display: inline-block;
  margin-left: 1.5em;
  font-size: 20px;
}
.language{
  font-size: 15px;
  float: right;
  margin: 20px 50px 0 0;
}
.line:hover{
  text-decoration: none;
  color: tomato;
}

.logo-font h1{
  font-family: 'Tangerine', cursive;
  font-size: 50px;
  font-style: normal;
  font-size-adjust: auto;
}
/*Filter*/
.filter{
  width: 100%;
  background: tomato;
  color:#fafafa;
  margin-bottom: 1em;
}

.categoryContainer{
  max-width: 64em;
  height: 4em;
  margin: 0 auto;
  line-height: 4em;
}

.categoryContainer button{
  border: none;
  background: none;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  outline: none;
  cursor: pointer;

}
.categoryContainer ul{
  list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;

}
.categoryContainer li{
float:left;

}

.categoryContainer button:hover{
  color:#333;
}
.categoryContainer h2{
  font-weight: 600;
  font-size: 1.1em;
}

.categoryContainer h2,ul,li {
  display: inline-block;
}

.categoryContainer h2 {
  margin-right: 1em; }

.categoryContainer li {
  margin-right: 1em; }

#gallery{
  width: 120px;
  height: 150px;
  margin-left: 10px;
}
/*Main*/
.main{
  max-width: 80em;
  margin: 0 auto;

}

.product {
  width: -webkit-calc(33.33333333333% - 16px);
  width: calc(33.33333333333% - 16px);
  margin-bottom: 16px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 0;
}
.productinfo{
  background: #fff;
  padding: 1em;
  line-height: 150%;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
}


.productinfo h4{
  font-size: 18px;
}

.price{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: tomato;
  border-top: 1px solid #d35400;
  border-bottom: 1px solid #d35400;
}

.productinfo a{
  text-decoration: none;

}
.interaction{
  width: 100%;
  margin-top: 1em;
  text-align: center;
}

.infolink {
  color: tomato;
  font-size: 25px;
  margin-right: 1em;
}
.product img{
  width: 100%;
  height: auto;
}

.message{
  width: 100%;
}


.container-fluid{
  background-color: tomato;
  height: 100%;
}


.about{
  font-size: 14px;
  font-weight: 400;
  background: none;
  overflow: auto;
  float: left;
  color: #fafafa;
  margin:20px;

}
.about p{
  font-size:16px;
  font-weight:300;
  text-align:left;
  color:#fff;
  text-align: left;
}



/*contact form*/
.contact-wrap{
  font-size: 16px;
  font-weight: 300;
  width: 402px;
  color:#fff;
  overflow:auto;
  float: left;
}
.contactarea{
  margin-left: 3px;
  width: 324px;
  padding: 20px;
}
.contactarea input, .contactarea textarea{
  padding: 5px;
  width: 324px;
 font-size: 14px;
 font-weight: 300;
 color: #fafafa;
 background-color: transparent;
 border-top: 1px solid transparent;
 border-left: 1px solid transparent;
 border-bottom: 1px solid #fff;
 border-right: 1px solid transparent;
  margin-bottom: 15px;

}
.contactarea textarea {
	height: 150px;
  background-color:transparent;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #fff;
  border-right: 1px solid transparent;

}
.contactarea textarea:focus, .contactarea input:focus {
  background-color:#333;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #fff;
  border-right: 1px solid transparent;
}
.contactarea input.submit {
  font-size:12px;
  font-weight:300;
  text-transform:uppercase;
	width: 100px;
  float: left;
  background-color:transparent;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
	-moz-transition:all 0.1s ease-in-out;
	-webkit-transition:all 0.1s ease-in-out;
	-o-transition:all 0.1s ease-in-out;
	-ms-transition:all 0.1s ease-in-out;
	transition:all 0.1s ease-in-out;
}

.contactarea input.submit:hover{
  color:#fff;
  background-color:#333;

}
.contactarea:focus{
  outline:0;

}
.legal{
  color:#fff;
}

/*df*/
@media screen and (max-width:67em) {
header nav{
  margin: 0 1em;
}
.categoryContainer{
  margin: 0 1em;
}
@media screen and (max-width: 48em) {
  .product {
    width: -webkit-calc(50% - 16px);
    width: calc(50% - 16px); } }
@media screen and (max-width: 28em) {
  .product {
    width: -webkit-calc(100% - 16px);
    width: calc(100% - 16px); } }

}
